body{
    margin: 0;
    background-color: #fff;
    font-family: "Raleway";
    color: #444;
}
*{
    box-sizing: border-box;
    transition: 250ms ease;
}
ul,li,nav,h1,h2,h3,h4,h5, figure{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    position: relative;
}
.container{
    margin: auto;
    width: 1140px;
    max-width: calc(100% - 30px);
}
.header{
    padding-top: 32px;
    margin-bottom: 120px;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .left{
    display: flex;
    align-items: center;
}

.header .left figure{
    width: 59px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #DFDFDF;
    margin-right: 10px;
    border-radius: 50%;
}
.header .left:hover figure{
    border-color: #8e8e8e;
}
.header .left:hover span{
    color: #000;
}
.header .left img{
    border-radius: 50%;
    display: block;
}
.header .left span{
    font-size: 18px;
    line-height: 1.4em;
    color: #444444;
}

.header .right{
    display: flex;
    align-items: center;
}
.header .right a{
    display: flex;
    align-items: center;
}
.header .right img{
    margin-right: 12px;
}
.header .right span{
    font-size: 18px;
    line-height: 1.4em;
    color: #333;
}
.header .right a:hover span{
    color: #000;
}
.hello-home{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hello-home .left h1{
    font-size: 50px;
    color: #333;
    margin-bottom: 5px;
    font-weight: normal;
    text-align: center;
}
.hello-home .left h1.mobile{
    display: none;
}
.hello-home .left h2{
    font-size: 44px;
    color: #333;
    margin-bottom: 30px;
    font-weight: normal;
    text-align: center;
    display: block;
}
.hello-home .left h1 .rainbow{
    margin: 0 5px;
}
.hello-home .left h1 strong{
    font-weight: 600;
}
.hello-home .left h1 strong.special{
    color: #000;
}
.hello-home .left .texts p{
    font-size: 22px;
    line-height: 1.4em;
    max-width: 841px;
    text-align: center;
    margin-bottom: 0;
}
.hello-home .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hello-home .left .star{
    position: absolute;
}
.hello-home .left .star.star1{
    left: 210px;
    top: 280px;
}
.hello-home .left .star.star2{
    left: 60px;
    top: -20px;
}
.hello-home .left .star.star3{
    right: 40px;
    top: 10px;
}
.hello-home .left .star.star4{
    right: -10px;
    bottom: 50px;
}
.hello-home .left .texts p:not(:last-child){
    margin-bottom: 31px;
}
.hello-home .left .texts{
    margin-bottom: 50px;
}
.hello-home .left .texts p strong{
    font-weight: 600;
    color: #000;
}
.hello-home .left .btn-action{
    padding: 11px 34px;
    border-radius: 5px;
    background-color: #000;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    outline: none;
    box-shadow: none;
    margin: 0;
    cursor: pointer;
}
.hello-home .right{
    position: relative;
    width: 520px;
    height: 400px;
}
@keyframes solid-triangle {
    from { transform: translate(150px, 150px) }
    to { transform: translate(0px, 0px) }
}
@keyframes dashes-triangle {
    from { opacity: 0; }
    to { opacity: 1; }
}
.hello-home .triangles{
    overflow: visible !important;
}
.hello-home .triangles .solid{
    animation: solid-triangle 1.5s ease-out;
}
.hello-home .triangles .dashed{
    opacity: 0;
    animation: dashes-triangle 1s forwards;
    animation-delay: 1s;
}
.work-list{
    margin-top: 125px;
}
.work-list h2{
    font-size: 45px;
    color: #333;
    text-align: left;
    font-weight: 600;
    max-width: 705px;
    margin: 0;
    margin-bottom: 25px;
}
.work-list h2 strong{
    font-weight: 600;
    color: #000;
}
.work-list .list-tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}
.work-list .list-tabs li{
    padding: 0 20px;
    height: 47px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    line-height: 1.4em;
    color: #444;
    cursor: pointer;
}
.work-list .list-tabs li:hover{
    color: #000;
}
.work-list .list-tabs li.active{
    background-color: #F0F0F0;
    color: #444;
}
.list-blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.list-blocks .item{
    width: 336px;
    height: 256px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}
.list-blocks .item.empty{
    display: none;
    border-color: white;
}
.list-blocks .item img{
    max-width: 100%;
    border-bottom: 1px solid #EBEBEB;
}
.list-blocks .item h4{
    padding: 12px 14px;
    font-size: 17px;
    line-height: 1.4em;
    color: #444;
    font-weight: normal;
    font-family: "Roboto";
}
.list-blocks .item:hover img{
    opacity: 0.8;
}
.list-blocks .item:hover h4{
    color: #000;
}
.footer{
    margin-top: 80px;
    padding-bottom: 30px;
}
.footer .flex-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .flex-footer .left{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #333;
    font-weight: 500;
}
.footer .flex-footer .left a{
    color: #333;
}
.footer .flex-footer .left img{
    margin-right: 12px;
    top: 2px;
    position: relative;
}
.footer .flex-footer .left:hover a{
    color: #000;
}
.footer .flex-footer .right-footer{
    font-size: 18px;
    color: #666;
    line-height: 1.4em;
    font-weight: normal;
    margin: 0;
}

.about-me{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 180px;
}
.about-me h2{
    font-size: 45px;
    color: #333;
    text-align: left;
    font-weight: 600;
    max-width: 705px;
    margin: 0;
    margin-bottom: 25px;
}
.about-me p{
    max-width: 650px;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}
.about-me p strong{
    font-weight: 600;
}
.skill-list{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
}
.skill-list li{
    margin-right: 20px;
    padding: 0;
    padding-left: 12px;
    font-size: 20px;
    color: #888;
    margin-bottom: 15px;
    position: relative;
}
.skill-list li::before{
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #888;
    position: absolute;
    left: 0;
    top: 10px;
}
.header .right a{
    margin-left: 40px;
}
.link-svg{
    margin-bottom: 6px;
}
@media screen and (max-width: 991px){
    .header .right span{
        display: none;
    }
    .header .right::after{
        content: "My resume";
        font-size: 18px;
        line-height: 1.4em;
        color: #333;
    }
    .header .left span{
        white-space: nowrap;
    }
    .hello-home{
        position: relative;
    }
    .hello-home .right{
        position: absolute;
        top: 60%;
        opacity: 1;
        left: 52%;
        width: 140px;
    }
    .hello-home .left h1{
        font-size: 40px;
    }
    .hello-home .left h1.desktop{
        display: none;
    }
    .hello-home .left h1.mobile{
        display: block;
    }
    .header{
        margin-bottom: 70px;
    }
    .hello-home .left .texts p{
        font-size: 18px;
    }
    .hello-home .left .texts p:not(:last-child){
        margin-bottom: 20px;
    }
    .hello-home .left .texts{
        margin-bottom: 40px;
    }
    .hello-home .triangles{
        width: 180px;
    }
    .work-list h2{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .work-list {
        margin-top: 145px;
    }
    .work-list .list-tabs li{
        white-space: nowrap;
    }
    .work-list .list-tabs{
        justify-content: flex-start;
        width: calc(100% + 30px);
        overflow: auto;
        margin: 0 -15px;
        padding: 0 15px;
        padding-bottom: 25px;
        margin-bottom: 25px;
    }
    .list-blocks .item{
        width: calc(50% - 5px);
        height: auto;
        padding-bottom: 15px;
    }
    .list-blocks .item h4{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        padding-bottom: 0;
    }
    .footer .flex-footer{
        flex-direction: column;
    }
    .footer .flex-footer .left{
        margin-bottom: 20px;
    }
    .footer{
        margin-top: 30px;
    }
    .hello-home .left h2{
        font-size: 24px;
        margin-top: 15px;
        max-width: 340px;
    }
    .hello-home .left .star.star2 {
        left: 10px;
        top: -10px;
        width: 33px;
    }
    .hello-home .left .star.star3 {
        right: 20px;
        top: -10px;
        width: 24px;
    }
    .hello-home .left .star.star1 {
        left: 10px;
        bottom: -20px;
        width: 30px;
        top: inherit;
    }
    .hello-home .left .star.star4 {
        right: 5px;
        bottom: 30px;
        width: 35px;
    }
    .about-me{
        display: block;
        margin-top: 100px;
    }
    .about-me p{
        font-size: 18px;
    }
    .skill-list li{
        font-size: 18px;
    }
    .about-me .right img{
        max-width: 100%;
        display: block;
        margin-top: 20px;
    }
    .work-list{
        margin-top: 50px;
    }
    .about-me h2{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .footer .flex-footer .right-footer{
        margin-bottom: 10px;
    }
    .img-container iframe.mobile-prot{
        height: 270px;
        width: 90%;
        max-width: 90%;
    }
    .img-container iframe.screen-anniv{
        height: 240px;
        width: 90%;
        max-width: 90%;
    }
    .header .right a{
        margin-left: 0;
    }
    .header .right a:first-child{
        display: none;
    }
}
@media screen and (max-width: 350px){
    .header .right::after{
        content: "Resume";
    }
    .header .left img{
        width: 31px;
        height: 31px;
    }
    .header .left figure{
        width: 39px;
        height: 39px;
    }
}

.text-container{
    padding: 0 96px;
}
.text-container.margin-top{
    margin-top: 50px;
}
.text-container h1{
    font-size: 50px;
    color: #333;
    margin-bottom: 30px;
    font-weight: bold;
}
.text-container strong{
    color: #000;
    font-weight: bold;
}
.text-container p{
    font-family: "Roboto";
    font-weight: 300;
    line-height: 1.4em;
    color: #444;
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 25px;
}
.text-container p strong{
    font-weight: 500;
    color: #444;
    font-family: "Roboto";
    line-height: 1.4em;
    color: #444;
}
.text-container p strong.special{
    color: #000;
}
.text-container p a{
    color: #000;
    text-decoration: underline;
}
.img-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
}
.img-container img{
    margin: 0 5px;
    max-width: 100%;
}
.img-container span{
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 17px;
    font-family: "Roboto";
    font-weight: 300;
    color: #666666;
    width: 100%;
}
.text-container h3{
    font-size: 30px;
    color: #333;
    line-height: 1.4em;
    margin-bottom: 15px;
    margin-top: 50px;
}
.text-container h3.special{
    color: #000;
}
.text-container h3 span{
    font-size: 18px;
    font-weight: normal;
    color: #666666;
    line-height: 1.4em;
}
.text-container .inner-level{
    padding-left: 128px;
}
.text-container .inner-level .level-block{
    position: relative;
    margin-bottom: 50px;
}
.text-container .inner-level .number{
    position: absolute;
    left: -30px;
    top: 0;
    font-size: 21px;
    font-weight: bold;
    font-family: "Roboto";
    line-height: 1.4em;
    color: #000;
}
.text-container .inner-level .level-block > img{
    margin-top: 5px;
}
.img-container img.mobile{
    display: none;
}

ul.list-text{
    list-style: outside;
    margin: 30px 0;
    padding-left: 60px;
}
ul.list-text li{
    font-family: "Roboto";
    font-weight: 300;
    line-height: 1.4em;
    color: #444;
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 0px;
    list-style: disc;
}
ul.list-text li strong{
    font-weight: 500;
    color: #444;
    font-family: "Roboto";
    line-height: 1.4em;
    color: #444;
}

@media screen and (max-width: 991px){
    .text-container{
        padding: 0;
    }
    .text-container h1{
        font-size: 30px;
    }
    .text-container p{
        font-size: 20px;
    }
    .text-container h3{
        font-size: 26px;
    }
    .img-container iframe{
        max-width: 80%;
    }
    .img-container img{
        max-width: 95%;
        margin: 5px 0;
    }
    .img-container img.desktop{
        display: none;
    }
    .img-container img.mobile{
        display: block;
    }
    .img-container{
        margin-top: 30px;
    }
    .text-container h3{
        margin-top: 30px;
    }
    .text-container .inner-level{
        padding-left: 38px;
    }
    .text-container .inner-level .level-block > img{
        max-width: 100%;
    }
    .img-container.keep-small{
        flex-wrap: nowrap;
    }
    .img-container.keep-small img{
        max-width: 30%;
    }
    .img-container iframe.youtube-iframe {
        width: 90%;
        height: 180px;
        max-width: 90%;
    }
    ul.list-text{
        padding-left: 20px;
    }
}

#backToTop {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#backToTop:hover {
    cursor: pointer;
    border-color: #000;
}
#backToTop:active {
    background-color: #555;
}
#backToTop.show {
    opacity: 1;
    visibility: visible;
}
#backToTop img{
    position: relative;
    bottom: 1px;
}
.img-left{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.img-left img{
    margin-right: 30px;
}
